name: Build and Push Docker Image to the github image registry

# Controls when the workflow will run
on:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:


env:
  REGISTRY: ghcr.io
  IMAGE_NAME: seagent-php-8.4-alpine

jobs:
  build-scan-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      security-events: write # add info to tab Security

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.REGISTRY_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=branch
            type=sha,format=short
            latest

      # 1. Build the image and save local on the runner 
      - name: Build Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          load: true 
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:test
#          labels: ${{ id.meta.outputs.images }}

      # 2. Scanning the image
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: '${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:test'
          format: 'table'
          exit-code: '1' # stop pipeline if vulnerability is found
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'

      # 3. push to registry if scan is successful
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
#          labels: ${{ id.meta.outputs.labels }}
